.close{
    color: red;
    margin-left: 2rem;
    cursor: pointer;
    user-select: none;
}

.ToDoItem{
    margin-bottom: 1rem;
    color:blue;
    font-size:1.6rem;
    cursor: pointer;
    user-select: none;
}

.ToDoItem-done{
    color: gray
}

.ToDoItem-done .content{
    text-decoration: line-through
}